body {
  margin: 0;
  background-color: #0f1d36;
  font-family: "Rajdhani", sans-serif;
}

.navbar {
  background-color: #0f1d36 !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  min-height: 90px;
}

.navbar-brand {
  color: #4abca9 !important;
  font-size: 30px;
  margin-left: 20px;
}

.nav-link {
  color: #acc0ff !important;
  font-size: 30px;
  margin-right: 20px;
}

.nav-link.active {
  color: #4abca9 !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #4abca9 !important;
  font-weight: 500;
}

h1 {
  color: #acc0ff;
  font-weight: normal;
  font-size: 30px;
  margin-left: 20%;
  margin-bottom: 0;
  margin-top: 200px;
}

@media (max-width: 992px) {
  h1 {
    margin-left: 10%;
    font-size: 18px;
  }
}

h2 {
  font-weight: normal;
  color: #4abca9;
  font-size: 60px;
  font-weight: 500;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  h2 {
    margin-left: 10%;
    font-size: 35px;
    margin-top: 40px;
  }
}

h3 {
  color: #acc0ff;
  font-weight: normal;
  font-size: 50px;
  margin-left: 20%;
  margin-top: 10px;
}

@media (max-width: 992px) {
  h3 {
    margin-left: 10%;
    font-size: 25px;
    margin-top: 40px;
  }
}

.aboutContent {
  width: 80%;
  margin: auto;
  max-width: 1500px;
  margin-top: 150px;
}

@media (max-width: 992px) {
  .aboutContent {
    width: 90%;
    margin: auto;
  }
}

img {
  height: 300px;
  width: auto;
  float: left;
}

@media (max-width: 992px) {
  img {
    float: none;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 60px;
  }
}

.aboutText {
  margin-left: 390px;
}

@media (max-width: 992px) {
  .aboutText {
    margin: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
  }
}

.aboutHeader {
  margin: 0;
  color: #4abca9;
  font-size: 50px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .aboutHeader {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
  }
}

.aboutBody {
  color: #acc0ff;
  font-size: 30px;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .aboutBody {
    font-size: 20px;
  }
}

.contactHeader {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-left: 0;
  font-weight: 500;
  color: #4abca9;
}

@media (max-width: 992px) {
  .contactHeader {
    font-weight: normal;
  }
}

.contactInfo p {
  color: #acc0ff;
  text-align: center;
  font-size: 32px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .contactInfo p {
    font-size: 20px;
    width: 80%;
  }
}

.email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}

@media (max-width: 992px) {
  .email {
    width: 100%;
    text-align: start;
  }
}

.phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  margin-left: 45px;
}

@media (max-width: 992px) {
  .phone {
    width: 100%;
    margin-left: 0;
    text-align: start;
  }
}

.github {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}

@media (max-width: 992px) {
  .github {
    width: 100%;
    text-align: start;
  }
}

.contactIcons {
  color: #4abca9;
  font-size: 32px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .contactIcons {
    font-size: 20px;
  }
}

.contactIcons p {
  color: #acc0ff;
  font-size: 32px;
  margin-top: -8px;
}

@media (max-width: 992px) {
  .contactIcons p {
    font-size: 20px;
    width: 80%;
    margin-top: -5px;
  }
}

.projectsHeader {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-left: 0;
  font-weight: 500;
  color: #4abca9;
}
/*# sourceMappingURL=style.css.map */