.projectsHeader {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-left: 0;
  font-weight: 500;
  color: getColour(secondary-colour);
}

.prjoectsContainer {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.project {
  border: 1.5px solid getColour(secondary-colour);
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  @media (max-width: 992px) {
    width: 90%;
  }
}

.projectTitle {
  font-size: 36px;
  color: getColour(primary-colour);
  font-weight: normal;
  margin: 0;
  @media (max-width: 992px) {
    font-size: 30px;
  }
}

.projectDescription {
  color: getColour(primary-colour);
  font-size: 28px;
  @media (max-width: 992px) {
    font-size: 22px;
  }
}

.projectBtns {
  background-color: getColour(secondary-colour);
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 8px 1em 8px 1em;
  margin: 10px;
  @media (max-width: 992px) {
    font-size: 24px;
  }
}

.projectBtns:hover {
  color: white;
}
